<nav class="navbar bg-img py-3 p-sm-4 shadow-sm">
	<div class="container-fluid">
		<a class="text-dark btn btn-warning text-bold shadow-sm" href="/">
			SymfonyFirst
			<i class="fa fa-music" aria-hidden="true"></i>
		</a>
		{% if app.user is empty %}
			<div class="btn-group mt-sm-0 mt-2">
				<a class="text-dark btn btn-light shadow-sm" href="/login">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					Se connecter
				</a>
				<a class="text-dark btn btn-warning shadow-sm" href="/register">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					S'engeristrer
				</a>
			</div>
		{% else %}
			<div class="btn-group shadow-sm">
            	{% include "_partials/_unreadMessage.html.twig" %}

				<button class="text-dark btn btn-warning " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
					<span class=" text-dark">Menu</span>
				</button>
			</div>
			<div class="offcanvas offcanvas-end bg-warning shadow-sm" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width:200px;">
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<button type="button" class="btn-silent text-dark" data-bs-dismiss="offcanvas" aria-label="Close">
								<i class="fa fa-times" aria-hidden="true"></i>
								Menu
							</button>
						</li>
						<hr>
						<li class="nav-item">
							<a class="nav-link active text-dark" aria-current="page" href="/">
								<i class="fa fa-home" aria-hidden="true"></i>
								Home
							</a>
						</li>
						<hr>
						<h4>
							{{app.user.firstname}}
							{{app.user.name}}
						</h4>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link text-dark" href="/users">
									<i class="fa fa-user" aria-hidden="true"></i>
									Profil
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" href="/users/annonces/ajout">
									<i class="fa fa-clipboard" aria-hidden="true"></i>
									Ajouter une Annonce
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" href="{{ path('users_messages_home') }}">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									Messageries
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" href="{{ path('app_home_contact') }}">
									<i class="fa fa-question-circle" aria-hidden="true"></i>
									Contact
								</a>
							</li>
							<hr>
							{% if app.user.roles.0 == "ROLE_ADMIN" %}
								<li class="nav-item">
									<a class="nav-link text-dark" href="/admin">
										<i class="fa fa-clipboard" aria-hidden="true"></i>
										Admin
									</a>
								</li>
							{% endif %}

							<li class="nav-item">
								<a class="nav-link text-dark" href="/logout">
									<i class="fa fa-sign-in" aria-hidden="true"></i>
									Se déconnecter
								</a>
							</li>
						{% endif %}
					</ul>
					{#                 <form class="d-flex">
					    <input 
					                        class="form-control me-2" 
					                        type="search" 
					                        placeholder="Search" 
					                        aria-label="Search">
					                    <button 
					                        class="btn btn-outline-dark" 
					                        type="submit">
					                        Search
					                    </button>
					                </form> #}
				</div>
			</div>
		{% endif %}
	</div>
</nav>
